<p>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}
</p>

<p>
  <a title="Web Statistics" href="http://clicky.com/100786007"><img alt="Web Statistics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
  <script src="//static.getclicky.com/js" type="text/javascript"></script>
  <script type="text/javascript">try{ clicky.init(100786007); }catch(e){}</script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100786007ns.gif" /></p></noscript>

</p>
